body{
  background-image: linear-gradient(to bottom, #11162c, #152140, #071136);
  color: white;
  padding: 0%;
}


.nav{
  display: flex;
  justify-content: center;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  margin: auto;
  top: 0;
  background: #bec0d60d;
  height: 8%;
  border-radius: 0 0 10px 10px;
}

.nav-list{
  display: flex;
  gap: 80px;  
  list-style: none;
  margin-right: 10%;
}

.nav-item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  transition: color 0.5s ease;
}

.nav-item a:hover{
  color: rgba(95, 234, 209, 0.942);
}


.hero{
  display: flex;
  height: 80dvh;
  width: 100vw;
  overflow: hidden;
  padding: 10%;
}


.myImage{
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
}
